@use '../../shared/styles/colors' as colors;
@import '../../../../../common/styles/mixins.scss';

.pageIndicator {
  display: flex;
  flex-direction: column;

  > * {
    @include clickable;
    margin-bottom: 10.28px;
  }
}

.circle {
  width: 11px;
  height: 11px;

  border-radius: 50%;

  background-color: colors.$secondary;

  &[data-selected=true] {
    background-color: colors.$primary;
  }
}
