.shotContainer {
  height: inherit;

  > .component {
    height: inherit;
  }

  > .info {
    position: absolute;

    bottom: 26px;
    left: 30px;
    width: fit-content;


    font-family: 'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;


    display: flex;
    align-items: center;


    transition: opacity 0.5s ease-in-out;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    > .iconContainer {
      margin-right: 10px;
    }

    > .homeLink {
      color: black;
    }

    .icon {
      font-size: 20px;
    }

    .githubButton {
      // Making the icon really it's size
      padding-bottom: 0;
      border-width: 0;
    }
  }
}
