@use 'shared/styles/colors' as colors;
@import 'https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap';


.page {
  background-color: white;
  font-family: "Lato", sans-serif;

  height: 100%;

  min-width: 374px;
  min-height: 236px;

  display: flex;
  flex-direction: column;

  .comingSoonContainer {
    display: flex;
    flex-direction: column;

    // Really in the center of the page cause the navbar is in fixed position
    margin: auto;

    align-items: center;

    > .progressText {
      color: colors.$primary;

      width: fit-content;

      // This animation would happen when you're on smartphone and rotating it to be horizontal and vice versa
      transition: margin-top 0.5s ease;

      margin-top: 32px;

      @media screen and (max-width: 850px) and (max-height: 400px) {
        & {
          margin-top: 0;
        }
      }

      font: {
        size: 16px;
        weight: 300;
      }
    }
  }

  .arrowContainer {
    margin: {
      left: auto;
      right: auto;

      bottom: 50px;
    }
  }

  > .pagesIndicator {
    // So it will be fixed :) to the right even when scrolling
    position: fixed;

    // Center it in the middle
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}

