.layout {
  height: 100%;

  .header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    padding: 0 20px;

    .title {

      // We need the width as a variable because we use it in the margin-left calculations.
      $width: 180px;
      width: $width;


      margin: {
        top: 0;
        bottom: 0;
        right: auto;

        // position it in the middle.
        left: calc(50% - #{$width} / 2);
      };

      transition: margin-left 0.5s;

      /* For Mobile */
      @media screen and (max-width: 540px) {
        & {
          // Make the title be at the right
          margin-left: 0;
        }
      }

      padding-bottom: 4px;
      flex: 0;

      color: white !important;
    }

    .githubButton {
      font-size: 2.5em;

      .githubIcon {
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  .content {
    padding: 25px;


    .showcaseContainer {
      background-color: #F5F5F5;

      display: grid;

      // Max of 4 items in each row, when resizing the width of the page the number of column should reduce
      //
      // We're using `#{"max(150px, 24%)"}` because using max with px and % are unsupported,
      // so this is a workaround from [here](https://github.com/sass/node-sass/issues/2815#issuecomment-574038619)
      //
      // We're using 24% because if we use 25% it will create 3 columns in each row (at max) instead of 4
      grid-template-columns: repeat(auto-fill, minmax(#{"max(300px, 24%)"}, 1fr));

      // TODO (rluvaton): make the rows fill the screen
      gap: 10px;

      height: 250px;
    }

  }
}
